@import '../../../Github/goldbootstrap/less/goldbootstrap.less';

// Less variables

@gb-peach: #ead8c3;
@gb-rich: #a36a1e;
@gb-leather: #84600c;
@gb-crimson: #820328;

@gb-gradient: linear-gradient(to right, @gb-crimson 0%,@gb-rich 100%);

@gb-transition: 0.2s;

@gold-space-sm:	(@line-height-computed); // 21px
@gold-space-md:	(@line-height-computed * 2); // 42px
@gold-space-lg:	(@line-height-computed * 5); // 105px

/* ==================================================
   Preloader
================================================== */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: @gb-peach;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 70px;
    height: 70px;
    margin: -35px 0 0 -35px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: @gb-crimson;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: @gb-crimson;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: @gb-crimson;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

// General Styles

body {
	font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
	font-size: 20px;
}

a.gb-link {
	text-decoration: none;
	color: @gb-crimson;
	border-bottom: 2px solid @gb-crimson;
	transition: @gb-transition;
}

	a:hover.gb-link {
		text-decoration: none;
		color: @gb-crimson;
		border-bottom: none;
	}


// Hero area

header {
	background: @gb-gradient;
	width: 100%;
	padding: @gold-space-sm 0 @gold-space-lg 0;
}

header h3 {
	margin-bottom: @gold-space-md;
	color: @gray-lighter;
}

.hero-img {
	max-width: 500px;
	width: 100%;
}

.white-text {
	color: #fff;
}

// Ad

.gb-ad-container {
		float: right;
		margin-bottom: @line-height-computed;
}

	@media (max-width: @screen-sm-min) {

		.gb-ad-container {
			float: none;
		}

	}

.gb-ad {
}

a.gb-placeholder-ad {
	width: 260px;
	height: 125px;
	background-color: rgba(255, 255, 255, 0.1);
	display: block;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	transition: @gb-transition;
}

	a:hover.gb-placeholder-ad {
		background-color: rgba(255, 255, 255, 0.2);
	}

a.gb-ad-word {
	font-size: 12px;
	text-align: center;
	float: none;
	color: rgba(255, 255, 255, 0.8)
}

	a:hover.gb-ad-word {
		color: rgba(255, 255, 255, 1)
	}

// End ad

.btn {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.gb-main-title {
	position: relative;
}

.gb-version {
	position: absolute;
	top: 5px;
	right: -60px;
	font-size: 30%;
	background-color: @gb-peach;
	color: @gb-crimson;
}

.gb-cta {
	margin-bottom: @gold-space-md;
}

// General sections

.gb-section {
	padding: 50px 0;
	text-align: center;
}

.gb-section-white {
	background-color: #fff;
}

.gb-section-gold {
	background-color: @gb-peach;
}

.gb-image-area {
	padding: 30px 0;
}

// GOLD everything section

.gb-image-constrain {
	max-width: 220px;
}

.gb-code-img {
	margin-top: 20px;
	margin-bottom: 0px;
}

@media (max-width: @screen-sm-min) {

	.gb-code-img {
		margin-bottom: 20px;
	}

}

.gb-subcode-img {
	margin-bottom: 20px;
}

// Cta

.gb-cta-2 {
	background: @gb-gradient;
	color: #fff;
	padding: 120px 0;
}

.gb-cta-2 h2 {
	margin-top: 3px;
	margin-bottom: @gold-space-md;
}


// Footer

footer {
	color: @gb-rich;
}

footer.gb-section {
	padding: 120px 0 60px 0;
}

footer img:hover {
	opacity: 0.7;
	transition: @gb-transition;
}

.gb-copy {
	margin-top: 40px;
	text-align: right;
}


@media (max-width: @screen-sm-min) {

	footer img {
		margin-left: auto;
		margin-right: auto;
	}

	.gb-copy {
		text-align: center;
	}

}

footer {
	position: relative;
}

.gb-up {
	text-align: center;
}

.gb-up-arrow {
	text-align: center;
	background-color: #fff;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	position: absolute;
	top: -30px;
	line-height: 60px;
	border: 2px solid @gb-peach;	
	transition: @gb-transition;
	left: -30px;
	margin-left: 50%;
}

	.gb-up-arrow:hover {
		border: 2px solid @gb-rich;
	}

.gb-up-arrow i {
	color: @gb-rich;
	font-size: 30px;
}

.gb-logo {
	max-width: 250px;
}

.btn {
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 10px 25px;
	transition: @gb-transition;
}

.btn-primary, .btn-primary:active, .btn-primary:focus {
	background-color: rgba(255, 255, 255, 1);
	color: @gray-darker;
	border: none;
}

	.btn-primary:hover {
		background-color: rgba(255, 255, 255, 0.8);
		color: @gray-darker;
	}

.btn-default, .btn-default:active, .btn-default:focus {
	background-color: rgba(255, 255, 255, 0.0);
	border: 1px solid rgba(255, 255, 255, 0.3);
	color: #fff;
	box-shadow: none;
}

	.btn-default:hover {
		background-color: rgba(255, 255, 255, 0.1);
		border: 1px solid rgba(255, 255, 255, 0.7);
		color: #fff;
	}

.gb-text-right {
	text-align: right;
}

.gb-text-left {
	text-align: left;
}

@media (max-width: @screen-md-min) {

	.gb-text-right, .gb-text-left {
		text-align: center;
	}

}

/* ==================================================
   Reading progress indicator
================================================== */

progress {
  /* Positioning */
    z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;

  /* Dimensions */
  width: 100%;
  height: .25em;

  /* Reset the apperance */  
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* For Firefox/IE10+ */
  background-color: transparent;

  /* For IE10+, color of the progress bar */
  color: @gb-leather;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: @gb-leather;
}

progress::-moz-progress-bar {
  background-color: @gb-leather;
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: .25em;
  display: block;
}

.progress-bar {
  background-color: @gb-leather;
  width: 50%;
  display: block;
  height: inherit;
}
